* {
	margin:0;
	padding:0;
}
html, body {
	height:100%;
}
body {
	background-color:#ffffff;
	color:#000000;
	font-family:Tahoma, sans-serif;
	font-size:12px;
	display:table;
	margin:0 auto;
}

a {
	color:#000000;
}
a img {
	border:none;
}


div#contenedor {
	margin:0 auto;
	width:460px;
	height:100%;
	display:table-cell;
	vertical-align: middle;
}

div#cabezal {
	position:relative;
	padding:50px 40px 0;
	background:url(/img/fondo_login1) no-repeat top center;
}

div#cabezal h1 {
	position:absolute;
	right:30px;
	bottom:0;
	padding:4px;
	width:270px;
	text-align:right;
	font-size:1.5em;
}

div#documento {
	background:url(/img/fondo_login2) no-repeat bottom center;
}

p#aviso_cont {
	padding:1em 30px .6em;
	background:url(/img/fondo_login) repeat-y center center;
}

fieldset {
	position:relative;
	padding:10px 30px 30px;
	border:0;
}

legend {
	display:none;
}

ul {
	list-style-type:none;
	clear:both;
}

li {
	float:left;
	clear:both;
	margin:.2em;
}

li label, li input, li span {
	float:left;
}

li .izq {
	width:7em;
	text-align:right;
}

li span, li label {
	padding:3px;
}

li .izq input {
	float:right;
}

li span#envio {
	padding-left:7em;
}

li span#envio input {
	margin-left:3px;
}

input.error {
	background-color:#F29D9D;
}

span.error {
	position:absolute;
	white-space:nowrap;
	color:#800000;
	background-color:#FFFBAD;
	border:1px solid #a05050;
}

p#recuperarclave {
	position:absolute;
	bottom:0;
	right:60px;
	padding:5px;
}

address {
	text-align:right;
	/*background:url(/img/fondo_login2) no-repeat bottom center;*/
	padding:0 30px 30px;
}

address a {
	font-family:Arial, sans-serif;
	text-decoration:none;

}

address a:hover {
	text-decoration:underline;
}
